:root {
    /* size */
    --font-size-md: 0.9rem;

    /* color */
    --color-grey-light: #A9A9A9;
    --color-orange: #FF9130;
    --color-mint: #45FFCA;
}




.box{
/* 임시로 */
    width: 45rem;
    position: relative;
}

.bgImage{
    width: 45rem;
}
.sub-box{
    width: 90%;
    color: var(--color-grey-light);
    position: absolute;
    top: 10%;
    left: 10%;
    display: flex;
    flex-direction: column;
    
}
.sub-item{
    display: flex;
    flex-direction: row;
}
.sub-label{
    flex-basis: 25%;
}
.sub-context{
    flex-basis: 75%;
}
.sub-context-child{
    
}
.sub-one{
    margin-bottom: 1rem;
}
.orange{
    color: var(--color-orange)
}
.mint{
    color: var(--color-mint)
}
.indent{
    
}