:root {
    /* size */
    --font-size-md: 0.9vw;

    /* color */
    --color-grey-light: #A9A9A9;
    --color-orange: #FF9130;
    --color-mint: #45FFCA;
}




.box{
/* 임시로 */
    width: 45vw;
    position: relative;
}

.bgImage{
    width: 45vw;
}

.sub-box{
    width: 90%;
    color: var(--color-grey-light);
    position: absolute;
    top: 10%;
    left: 10%;
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-md);
    font-family: 'Segoe UI', 'Malgun Gothic', 'New Gulim', Tahoma, Geneva, Verdana, sans-serif;
}
.sub-item{
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5vh;

}
.sub-label{
    flex-basis: 25%;
}
.sub-context{
    flex-basis: 75%;
}
.sub-context-child{
    
}
.sub-one{
    margin-bottom: 2.5vh;
}
.orange{
    color: var(--color-orange)
}
.mint{
    color: var(--color-mint)
}
.indent{
    margin-left: 1vw;
}


/* @media screen (){
    
} */